.review {
  width: 245px;
  height: 370px;
  margin: 0 8px 40px;

  .box {
    width: 245px;
    height: 292px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #C1C7D0;
    padding: 20px 24px;
    position: relative;

    .employee{
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      color: #252525;
      display: block;
    }

    .position{
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      color: #252525;
      margin-bottom: 10px;
    }


    .text{
      font-style: italic;
      font-weight: 400;
      font-size: 14px;
      line-height: 28px;
      color: #434343;
    }
  }

  .sb:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 10px solid #C1C7D0;
    border-right: 13px solid transparent;
    border-top: 13px solid #C1C7D0;
    border-bottom: 10px solid transparent;
    left: -1px;
    bottom: -23px;
  }

  .sb:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 10px solid #fff;
    border-right: 11px solid transparent;
    border-top: 11px solid #fff;
    border-bottom: 11px solid transparent;
    left: 0;
    bottom: -21px;
  }


  .profile{
    margin-top: 23px;
    margin-left: 4px;
    display: flex;
    align-items: center;

  }

  .stars{
    padding-left: 12px;

    .reviewer{
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      color: #252525;
    }

    .star-rating {
      color: #F26532;
      display: inline-block;
      font-size: 16px;
      position: relative;
    }

    .star-rating__max,
    .star-rating__current {
      position: absolute;
      top: 0;
    }

    .star-rating__current {
      overflow: hidden;
      white-space: nowrap;
    }
  }












}
