
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

:root{
    --main-color: #FFFFFF
}


@mixin notebook {
    @media(max-width: 1320px){
        @content;
    }
}

@mixin tablet {
    @media(max-width: 900px){
        @content;
    }
}