.test{
  display: flex;
  justify-content: center;
  //align-items: center;
  //height: 60vh;


  a{
    text-decoration: none;
    color: black;
    padding: 15px 20px;
    display: block;
  }

  ul{
    list-style: none;
  }

  ul > li{
    float: left;
    position: relative;
  }

  ul li:hover {
    //color: red;
    background-color: red;
  }

  ul ul{
    position: absolute;
    padding: 0;
    min-width: 160px;
    display: none;
    top: 100%;
    left: 0;
  }

  ul li:hover > ul {
    display: block;
  }


  ul ul li{
    position: relative;
  }

  ul ul ul{
    top: 0;
    left: 100%;
  }



}