.navbar {
  width: 100vw;
  height: 96px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.100361);

  .wrapper{
    display: flex;
    width: 100vw;
    height: 100%;
    justify-content: space-between;

    align-items: center;
    margin: 0 16vw;

    .left_side{
      display: flex;
      align-items: center;



      .logo{
        height: 56px;
        width: 150px;
        position: relative;
        background-color: white;
        display: flex;

        .big_item{
          height: 56px;
          width: 28px;
          border-radius: 0 28px;
          background-color: #0880AE;
        }

        .small_item{
          height: 33px;
          width: 18px;
          margin-left: 2.5px;
          border-radius: 18px 0;
          background-color: #F26532;
        }

        .medium_item{
          height: 20px;
          margin-top: 3px;
          width: 40px;
          margin-left: 2.5px;
          border-radius: 0 20px;
          background-color: #0880AE;
        }


        .wrap_text{
          h4{
            position: absolute;
            top: 0;
            left: 56px;
            font-size: 20px;
          }

          p{
            position: absolute;
            font-weight: 400;
            font-size: 20px;
            bottom: 3px;
            padding-left: 4px;
          }
        }
      }


      .info{

        .help_text{
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: #727272;
          margin-bottom: 8px;
        }

        .number_text{
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 24px;
        }
      }
    }

    .right_side{
      height: 100%;



      a{
        text-decoration: none;
        text-align: center;
        color: black;
        padding: 0 12px;
        display: flex;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        align-items: center;
        height: 100%;
        //text-align:/ center !important;
      }

      ul{
        list-style: none;
        display: flex;
        height: 100%;
        align-items: center;
        box-sizing: border-box;

      }

      ul > li{
        position: relative;
      }


      ul li a:hover{
        color: #0880AE;
        //background-color: red;
      }

      ul ul{
        position: absolute;
        padding: 0;
        min-width: 160px;
        display: none;
        top: 100%;
        left: 0;
      }

      ul li:hover > ul {
        display: block;
        //margin-top: 20px;
        height: content-box;
      }


      ul ul li{
        position: relative;
      }

      ul ul ul{
        top: 0;
        left: 100%;
      }

      .dropdown{
        width: 175px;
        height: content-box;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.100361);
        border-top: 3px solid #0880AE;


        li{
          padding: 12px 14px;
          border-bottom: 1px solid #F5F5F5;
        }

      }


      .up_icon{
        //width: 18px;
        //height: 11px;
        //position: absolute;
        //left: 12.5%;
        //right: 12.53%;
        //top: 29.2%;
        //bottom: 23.54%;
        //
        //background: #252525;
      }

    }

    .right_side>ul>li{
      height: 100%;
      display: flex;
      align-items: center;
    }

    .right_side>ul>li:hover{
      border-bottom: 3px solid #0880AE;
    }

  }


}

